

<form>
    <div class="mb-3"><label for="nom" class="form-label">Nom et Prenom</label><input type="text"
        class="form-control" [(ngModel)]="coa.nomPrenom"/>

    </div>
    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Description</label><input type="text"
        class="form-control" id="exampleInputPassword1"  [(ngModel)]="coa.description"></div>

          <div class="mb-3"><label for="exampleInputPassword1" class="form-label" placeholder= "Entrer votre URL "  >Image</label><input type="text"
            class="form-control" id="exampleInputPassword1"  [(ngModel)]="coa.image"></div>

            <img *ngIf ="url" [src]="url" alt="image">

            <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Compte  Facebook</label><input type="text"
              class="form-control" id="exampleInputPassword1"  [(ngModel)]="coa.compteF"></div>

              <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Compte  Instagram</label><input type="text"
                class="form-control" id="exampleInputPassword1"  [(ngModel)]="coa.compteI"></div>







            <button type="submit"
      class="btn btn-primary" (click)="add()">Submit</button>
  </form>
