<div class="col-md-8 offset-md-3">
  <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier Evenement</h3>

  <form (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label>Nom Evenement</label>
      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="eve.nomE" >
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" id="description"
             [(ngModel)]="eve.description" name="description">
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="text" class="form-control" id="date"
             [(ngModel)]="eve.dateE" name="date">
    </div>
    <div class="form-group">
      <label>Type</label>
      <input type="text" class="form-control"
             [(ngModel)]="eve.image" name="image">
    </div>

    <div class="form-element">
      <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan" (click)="modif()">Modifier</button>
      <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
    </div>


  </form>
</div>
