<!-- <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col"*ngFor="let espace of list">
    <div class="card">
      <img src={{espace.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{espace.nom}}</h5>
        <p class="card-text">{{espace.description}}</p>
      </div>
    </div>
    <div class="card-footer">
      <div style="text-align:center">
        <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(espace)" >Modifier</button>
        <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteEspace(espace.id)" >Supprimer</button>
    </div></div>
  </div>
  </div> -->

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card"*ngFor="let espace of list">
      <img class="card-img-top" src={{espace.image}}>
      <!-- <img class="card-img-top" src="assets/image/dos.png"> -->
      <div class="card-body">
        <br>
        <h1 class="card-title">{{espace.nom}}</h1>
        <h5 class="card-title">{{espace.description}}</h5>
      </div>

      <div class="card-footer">
        <div style="text-align:center">
          <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(espace)">Modifier</button>
          <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteEspace(espace.id)" >Supprimer</button>
      </div></div>


    </div>
    </div>
